In [1]:
import pandas as pd
import numpy as np
import sys

sys.path.insert(0, 'C:\\Users\\User\\Desktop\\python\\abc_classification\\')
from abc_classification.abc_classifier import ABCClassifier

In [2]:
df = pd.read_csv('C:\\Users\\User\\Desktop\\python\\abc_classification\\tests\\товары.txt', sep='\t')
df

             товар  сумма
0  тональные кремы  27000
1            пудры  24000
2             тени  18000
3             туши  16000
4           помады   6000
5        консилеры   5000
6       скульпторы   4000

In [3]:
abc_clf = ABCClassifier(df)
abc_df = abc_clf.classify('товар', 'сумма')

In [4]:
abc_df

             товар  сумма class
0  тональные кремы  27000     A
1            пудры  24000     A
2             тени  18000     A
3             туши  16000     B
4           помады   6000     B
5        консилеры   5000     C
6       скульпторы   4000     C

In [5]:
abc_clf.brief_abc(abc_df)

       сумма
class
A      69000
B      22000
C       9000